.subcomponent_area{
   display: block;
   width: 100%;
}
.buttonsContainer{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  width: min-content;
}
.buttonsContainer v-btn {
  margin: 5px;
}