.sectionTitle{
   font-size: 14pt;
   padding-top: 15px;
   display: block;
   border-bottom: 1px solid lightskyblue;
   padding-bottom: 5px;
}
.button-print{
  background-color: #ffffff;
  color: gray;
}
.button-tooltip{

}
.button-tooltip span{
  
}