input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
   margin-bottom: 0px !important;
}

.component_container{
  display: flex;
  flex-flow: column;
  background-color: #edf0f5;
}
.component_area{
   display: grid;
   grid-template-columns: 50% 50%;
   background-color: #edf0f5;
   padding: 25px;
}

.title{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.title h2 { 
  font-size: 2em !important;
  width: fit-content;
}

.title .company_logo { 
  max-width: 150px;
  max-height: 60px;
  margin: 25px;
  align-self: center;
}

.foot{
  padding: 20px;
  text-align: center;
}